.wp-block-mk-partners-item {
	flex: 0 0 auto;
	min-width: 0;
}

.wp-block-mk-partners-item .mk-partners__item {
	display: inline-flex;
	align-items: center;
	gap: 1rem;
}

.wp-block-mk-partners-item .mk-partners__item-media {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
}
